.contact-container {
  background-color: var(--background-color);
  text-align: center;
  padding: 3rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.contact-header {
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.contact-text {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}
