.experience-container {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.experience-header {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 20px;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-role {
  color: var(--accent-color);
  margin-bottom: 10px;
}

.experience-company {
  color: var(--accent-color);
  margin-bottom: 10px;
}

.experience-description {
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

.experience-card {
  background-color: var(--card-bg-color); /* Updated */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
