.skills-carousel-container {
  background-color: var(--background-color);
  padding: 3rem 1rem;
}

.skills-header {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

.skills-carousel {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.skill-item {
  text-align: center;
}

.skill-image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: var(--card-bg-color);
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.skill-image:hover {
  transform: scale(1.1);
}

.skill-name {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 10px;
}
