:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --accent-color: #00bcd4;
  --button-bg-color: #0f552b;
  --button-hover-bg-color: #117b42;
  --card-bg-color: #222; /* Dark cards */
  --secondary-text-color: #aaaaaa;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #1e90ff;
  --button-bg-color: #f0f0f0;
  --button-hover-bg-color: #d3d3d3;
  --card-bg-color: #f5f5f5; /* Light cards */
  --secondary-text-color: #555555;
}
